body {
  background-color: white;
}

.search-page {
  .search-box {
    display: inline-block;
  }

  &.container {
    background-color: lightgrey;
    padding-top: 10px;
  }

}

.results-area {
  ul {
    padding: 0;
  }
}

.user {
  margin-bottom: 8px;
  img {
    width: 72px;
    height: 72px;
  }
}